body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main {
    background-color: #eeeeee;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.container {
    padding-top: 5px;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 0;
    display: inline-block;
}

li {
    list-style: none;
}

li label {
    float: left;
}

li input {
    width: 350px;
    margin-bottom: 15px;
    height: 25px;
}

label {
    font-size: 12px;
    color: #797979;
}

p {
    font-size: 11px;
    margin: 0 40px;
    color: #797979;
}

span {
    color: #3b3b3b;font-weight: 700;
}

#signup {
    width: 350px;
    background-color: #f8d20f;
    border: 1px solid #e9af25;
    font-weight: 900;
    font-size: 1em;
}