.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/deployment.xml
.idea/copyright/profiles_settings.xml
.idea/Simple-login-form.iml
.idea/webServers.xml
.idea/jsLibraryMappings.xml
.idea/blade.xml
.idea/symfony2.xml
.idea/php.xml
.idea/dictionaries/Vio.xml
.idea/runConfigurations/Unnamed.xml
.idea/watcherTasks.xml
